<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Create Province</title>
</head>
<body>
<h3>Add Province</h3>
<p>
    <a th:href="@{/provinces}">
        Back to Province List
    </a>
</p>
<div id="from">
    <form th:action="@{/provinces/create}" th:object="${province}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="name">Province Name:</label>
            <input type="text" id="name" th:field="*{name}" placeholder="Enter province name"/>
        </div>
        <input value="Save" type="submit"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>