<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit Role</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h1 class="mt-5">Edit Role</h1>
        <form th:action="@{/roles/{id}/update(id=${role.id})}" th:object="${role}" method="post">
            <input type="text" th:field="*{name}" placeholder="Enter role name"/>
            <button type="submit">Update</button>
            <a th:href="@{/roles}">Cancel</a>
        </form>
    </div>
</section>
</body>
</html>
