<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<h1>CREATE PRODUCT</h1>
<form th:action="@{/product/save}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Code:</td>
            <td><input type="number" name="code"/></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td>Mô tả:</td>
            <td><input type="text" name="description"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" name="price"/></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="file" name="image"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save"/></td>
        </tr>
    </table>
</form>
</body>
</html>